.nosotros{
    padding-bottom: 30px;
  }
  .nosotros > div{
    flex-flow: column;
    row-gap: 30px;
  }
  .nosotros figure, .nosotros article{
    width: 100%;
  }
  .footer{
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .logo-foother{
    width: 90%;
    border-bottom: 1px solid var(--secundary-color);
    padding: 20px 0;
    order: 1;
  }
  .logo-foother > figure{
    width: 200px;
    margin: 0 auto;
  }
  .nav-footer{
    order: 3;
  }
  .news{
    order: 2;
  }
  .footer-us{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    order: 4;
  }
  .nosotros{
    background-position: left;
  }
    