
.login input{
  min-width: 200px;
}
.login form{
  padding: 5px;
}
.box{
  padding-left: 25px ;
}
.box #remember{
  min-width: max-content;
  width: 15px;
}
.boxForgetPassword{
  padding: 0;
}
.container-data h3{
  font-size: 1.3rem;
}
.container-data p{
  font-size: 1.5rem;
}