.header{
  width: 100vw;
  height: 45px;
  position: relative;
  background-color: var(--secundary-color);
}
.menu-user{
  position: absolute;
  top: 40px;
}
.logo > figure{
  height: 75%;
}
.user-text{
  display: none;
}
.details{
  flex-flow: column-reverse;
  justify-content: center;
  align-items: center;
}
.login {
  margin-top: 0;
}
.user{
  background-color: transparent;
}
.container-body{
  min-height: 500px;
}
.container-data{
  padding-left: 20px;
  flex-flow: row wrap;
  align-items: center;
}
.container-data p{
  font-size: 1.8rem;
}