/* Importación de estilos base */
@import url(./root.css);
@import url(./header&Footer.css);

/* Variables CSS */
:root {
  --main-bg-color: rgba(0, 146, 204, 0.459);
  --text-color: #030303;
  --highlight-color: #3498db;
  --footer-bg-color: #2c3e50;
  --footer-text-color: #fff;
}

/* Estilos globales */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url(../assets/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Contenedor principal */
.container {
  max-width: 960px;
  margin: 120px auto 60px auto; /* Ajustar el margen para evitar solapamiento con header */
  padding: 20px;
  background-color: var(--main-bg-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1; /* Esto asegura que el contenedor tome el espacio disponible */
}

/* Estilos de secciones */
section {
  color: var(--text-color);
  padding: 40px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

section h2 {
  margin-bottom: 20px;
  text-align: center;
}

section p {
  font-style: oblique;
  line-height: 1.6;
  text-align: center;
}

/* Animaciones */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Estilos de galería multimedia */
.media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.media img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
  border-radius: 10px;
  animation: fadeIn 1s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.media img:hover {
  animation: zoomIn 0.6s ease-in-out;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos específicos de la sección Nosotros */
.nosotros {
  padding: 50px 30px;
  position: relative;
  z-index: 1;
  color: var(--text-color);
  background-color: #fff;
  border-top: 30px solid var(--highlight-color);
}

.nosotros h2 {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
  color: var(--highlight-color);
}

.nosotros p {
  margin: 10px 0;
}

.nosotros h4 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--highlight-color);
  text-decoration: underline;
  margin: 15px 0;
}

.nosotros ul {
  margin: 0 30px;
  list-style-image: url(../assets/ball-icon.png);
}

.nosotros > div,
.nosotros > div > figure {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.nosotros > div > figure {
  flex-flow: row wrap;
  gap: 15px;
  justify-content: center;
}

.nosotros figure,
.nosotros article {
  width: 45%;
  min-width: 200px;
  overflow: hidden;
  z-index: 3;
}

.nosotros > div > figure > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.details {
  width: 100%;
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-evenly;
  gap: 15px;
  padding: 30px 0;
  color: #fff;
  background-color: var(--highlight-color);
}

.location iframe {
  width: 100%;
  height: 300px;
}

.details h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .nosotros > div,
  .nosotros > div > figure {
    flex-direction: column;
    align-items: center;
  }

  .nosotros figure,
  .nosotros article {
    width: 100%;
  }

  .nosotros > div > figure > img,
  .media img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 15px;
  }

  .details {
    flex-direction: column;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 720px;
  }

  .nosotros figure,
  .nosotros article {
    width: 100%;
  }
}