/* Importación de estilos base */
@import url(./root.css);
@import url(./header&Footer.css);

main{
  width: 100%;
  font-family: var(--text-font);
}
main h1{
  color: var(--secundary-color);
  background-color: var(--tertiary-color);
  margin: 0 auto;
  text-align: center;
  padding: 30px 10px;
}
p{
  font-size: 1.1rem;
}
.presentation{
  width: 100%;
  background-color: var(--tertiary-color);
  color: white;
  padding: 30px 10px;
  margin: 0 auto;
}
.presentation p,
.presentation h2{
  width: 90%;
  max-width: 900px;
  min-width: 250px;
  margin: 0 auto;
}
.presentation h2{
  margin: 20px auto;
}
.club{
  /* background-color: var(--primary-color); */
  margin: 0;

}
.container-club{
  height: max-content;
}
.container-club h2{
  text-align: center;
  font-size: 2.5rem;
  color: var(--secundary-color);
  letter-spacing: 1px;
  padding: 40px 10px;
}
.options{
  width: 95%;
  display: flex;
  flex-flow: row nowrap;
  margin: 50px auto;
}
.options:nth-child(even){
  flex-flow: row-reverse nowrap;
}
.options > div{
  width: 50%;
  min-width: 200px;
  /* max-width: 500px; */
}
.options h3{
  color: var(--primary-color);
}
.options p{
  color: var(--tertiary-color);
}







































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































