@import url(./root.css);
@import url(./header&Footer.css);

/* Estilos específicos para el contenido de la página */
body {
  background-image: url(../assets/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 146, 204, 0.459);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
  color: #030303;
  padding: 40px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

section h2 {
  margin-bottom: 20px;
  text-align: center;
}

section p {
  font-style: oblique;
  line-height: 1.6;
  text-align: center;
}

/* Estilos para animaciones */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

/* Estilos para la galería multimedia */
.media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.media img {
  animation: fadeIn 1s ease-in-out;
  margin: 10px;
}

.media img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* Estilos específicos para la sección Nosotros */
.nosotros {
  padding: 50px 30px;
  position: relative;
  z-index: 1;
  color: #030303; /* Cambiar al color de texto principal del proyecto */
  background-color: #fff; /* Cambiar al color de fondo principal del proyecto */
  border-top: 30px solid #3498db; /* Cambiar al color de acento del proyecto */
}

.nosotros h2 {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
  color: #3498db; /* Cambiar al color de acento del proyecto */
}

.nosotros p {
  margin: 10px 0;
  color: #030303; /* Cambiar al color de texto principal del proyecto */
}

.nosotros h4 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #3498db; /* Cambiar al color de acento del proyecto */
  text-decoration: underline;
  margin: 15px 0;
}

.nosotros ul {
  margin: 0 30px;
  list-style-image: url(../assets/ball-icon.png);
}

.nosotros > div,
.nosotros > div > figure {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.nosotros > div > figure {
  flex-flow: row wrap;
  gap: 15px;
  justify-content: center;
}

.nosotros figure,
.nosotros article {
  width: 45%;
  min-width: 200px;
  overflow: hidden;
  z-index: 3;
}

.nosotros > div > figure > img {
  width: 35%;
  min-width: 150px;
  height: 150px;
  object-fit: cover;
}

.details {
  width: 100%;
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-evenly;
  gap: 15px;
  padding: 30px 0;
  color: #fff; /* Cambiar al color de texto invertido del proyecto */
  background-color: #3498db; /* Cambiar al color de acento del proyecto */
}

.location iframe {
  width: 100%;
  height: 300px;
}

.details h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

/* Estilos para el footer */
footer {
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
