@import url(./root.css);
@import url(./header&Footer.css);
main {
  width: 100%;
  font-family: var(--text-font);
}

.us h1 {
  color: var(--secundary-color);
  background-color: var(--tertiary-color);
  margin: 0 auto;
  text-align: center;
  padding: 30px 10px;
}